.breadcrumbs {
  margin: 0 0 30px;
  font-size: 0;
  list-style: none;
  &>li {
    position: relative;
    @include inline-top;
    margin: 0 45px 0 0;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    &:after {
      content: '';
      position: absolute;
      left: calc(100% + 20px);
      top: 2px;
      width: 5px;
      height: 14px;
      background-color: #fff;
      @include transform(skew(-12deg));
      
    }
    &.active, &:hover {
      color: #fff;
      a {
        text-decoration: none;
      }
    }
    &:last-child {
      color: #fff;
      &:after {
        content: none;
      }
      a {
        text-decoration: none;
        cursor: default;
      }
    }
  }
  a {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
  }
}