.selected-values {
  display: none;
  padding-bottom: 15px;
  &.on-mobile {
    border-bottom: 1px solid #e2e2e2;
    .group-title {
      padding-top: 15px;
      border-color: #e2e2e2;
      &.trigger {
        &::after {
          top: 16px;
        }
      }
    }
    .selected-wrap {
      border-radius: 0 0 12px 12px;
    }
    .properties {
      padding-bottom: 0;
    }
    @include breakpoint(md-up){
      display: none !important;
    }
  }
  .selected {
    margin-bottom: 15px;
    padding: 20px 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .selected-value {
    position: relative;
    padding: 12px 10px 12px 0;
    border-bottom: 1px solid #E6E6E6;
    font-size: 14px;
    color: #8b8a8a;
    &:last-child {
      margin-bottom: 0;
    }
    &>span {
      color: $text-color;
    }
  }
  .clear-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 8px;
    font-size: 0;
  }
}
.filter-title {
  display: none;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
  @include breakpoint(sm-down){
    display: block;
  }
}
.clear-filter {
  display: inline-block;
  margin-left: 25px;
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 9px;
  font-size: 14px;
}
.filter-group {
  margin-top: -1px;
  border: 1px solid #E6E6E6;
  &:first-child,&.selected-values {
    margin-top: 0;
  }
  .group-title {
    padding: 16px 25px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #FBFBFB;
    font-size: 20px;
    font-weight: 700;
    &.trigger {
      position: relative;
      padding-right: 30px;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 20px;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 22px;
      }
    }
  }
  .properties-wrap {
    padding: 20px 15px 20px 25px;
  }
  .hidden-properties {
    display: none;
    margin-top: 10px;
  }
  .selected-wrap {
    border-radius: 0;
  }
  .show-properties {
    margin-top: 15px;
    font-size: 13px;
    text-decoration: underline;
    text-align: center;
    color: $link-color;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}
.submit-scroll-field {
  position: relative;
}
.catalog-filter {
  position: relative;
  @include user-select(none);
  .price-wrap {
    padding: 20px 25px;
    font-size: 0;
    span {
      display: block;
      padding: 0 10px;
      font-size: 14px;
      text-align: center;
      &:last-of-type {
        padding: 0 0 0 15px;
      }
    }
    input {
      width: 90px;
      height: 40px;
      padding-left: 10px;
      border: 1px solid #c9c9c9;
      font-size: 14px;
    }
  }
  .inputs-wrap {
    margin-bottom: 20px;
  }
  .input-field {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .submit-wrap {
    //display: none;
    z-index: 10;
    position: absolute;
    top: 150px;
    left: calc(100% + 9px);
    width: 145px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px #b1b1b1;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      left: -6px;
      width: 11px;
      height: 11px;
      @include transform(rotate(-135deg));
      border-top: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      background-color: #fff;
    }
    .result-title {
      margin-bottom: 5px;
      font-size: 12px;
      color: #8b8a8a;
    }
    .result-count {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 700;
      &>span {
        font-size: 12px;
      }
    }
  }
  .submit-button {
    display: block;
    padding: 8px;
    background-color: $color-1;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    input {
      display: none;
    }
  }
  .sorting-group {
    width: 100%;
  }
  .sorting-title {
    display: none;
  }
  @include breakpoint(md-up){
    .submit-wrap {
      .clear-filter {
        display: none;
      }
    }
  }
  @include breakpoint(md){
    .price-wrap {
      input {
        width: 60px;
      }
    }
  }
  @include breakpoint(sm-down){
    overflow: auto;
    height: calc(100vh - 100px);
    margin-right: -15px;
    padding-right: 15px;
    .submit-wrap {
      display: block;
      position: fixed;
      top: auto !important;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px;
      border-radius: 0;
      &::before {
        content: none;
      }
    }
    .submit-wrap {
      .result-title,.result-count {
        display: none;
      }
      .button {
        margin: 0 auto;
      }
    }
  }
}